.header {
  position: sticky;
  display: flex;
  top: 0;
  min-height: 80px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  background-color: #5000ca;
  z-index: 3;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding-left: 40px;
}
.logo:hover {
  color:yellowgreen;
}

.header-icons {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  width: 18%;
}

.header-icons div{
  font-size: 18px;
}

.header-icons div > i {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.header-icons div > a  {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.header-icons div i:hover {
  color: orange;
}


.header-icons div a i:hover {
  color: orange;
}

.header-icons div a:hover {
  color: orange;
}
